.grettings {
    background: url(../../img/grettings/fon.png) no-repeat center/cover;
}
.container {
}
.grettings__content {
}
.header {
}
.logo {
}
.nav {
}
.nav__list {
}
.nav-item {
}
.square {
}
.gretting__desc {
}
.grettings__title {
}
.grettings__text {
}
.btn {
}
.grettings__btn {
}